<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h1>Upload Free Write</h1>
<hr>
        <form
          action="/free-writes/upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
<input
              class="form-control"
              style="width: initial"
              type="text"
              name="freeWrite[title]"
              placeholder="Title"
              required
            /></span>
          </div>
          <div class="form-group">
            <input type="file" name="testFile" id="" required />
          </div>
          <div class="form-group">
            <button class="btn btn-sm btn-primary">
              Submit
            </button>
          </div>
        </form>
      </h1>
    </div>
  </div>
</div>

<% include ../partials/footer %>
