<html>
    <head>
        <title>Estuary</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/index.css" />
        <script src="/assets/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">Estuary</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="/free-writes">Free Writes</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/notes">Notes</a>
                          </li>
                        </ul>
                        <ul class="navbar-nav mr-right">
                            <% if(!user){ %>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user">Signed In As <%=user.username%></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            <% if (error && error.length > 0) { %>
            <div class="alert alert-danger"><%=error%></div>
            <% } else if (success && success.length > 0) { %>
            <div class="alert alert-success"><%=success%></div>
            <% } else if (ownership && ownership.length > 0) { %>
            <div class="alert alert-warning"><%=ownership%></div>
            <% } %>
