body {
  background-color: #dcdcdc;
  font-family: Roboto;
  @media screen and (max-width: 450px) {
    overflow-x: hidden;
  }
  display: flex;
  justify-content: center;
  margin: 0;
}

textarea {
  background-color: white;
  font-family: inherit;
  font-size: inherit;
}
.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  &__about {
    background-color: white;
    justify-self: center;
    max-width: 1040px;
    padding: 25px;
    padding-top: 50px;
    margin: 0 auto;
    @media screen and (max-width: 450px) {
      padding: 10px;
    }
  }
  &__note {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
}
.freewrites {
  max-width: 100%;
  width: 800px;
  @media screen and (max-width: 450px) {
    width: 90vw;
  }
  margin: 0 auto;
}
.textarea {
  resize: both;
  margin: auto 0;
  font-family: inherit;
  font-size: inherit;
  &__notes {
    justify-self: center;
    height: 100px;
    width: stretch;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    outline: none;
  }
  &__freewrites {
    height: 400px;
    min-width: 200px;
  }
}

.notes {
  justify-self: center;
  width: 400px;
  padding: 0px;
  @media screen and (max-width: 450px) {
    width: 90vw;
  }
}
.margin-top {
  margin-top: 2vh;
}
.padding-horizontal {
  padding: 0 5%;
}
.button {
  min-width: 300px;
  // width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  h1,
  h2,
  h3,
  h4,
  h5,
  button {
    margin: 0;
  }
  &__free-writes {
    max-width: 600px;
  }
  &__notes {
    max-width: 400px;
  }
  &__auth {
    margin: 10px;
    width: 275px;
    border-radius: 15px;
  }
  &__text {
    &__left {
      padding-right: 25px;
    }
    &__right {
      padding-left: 25px;
    }
  }
}

.subtodo {
  margin-left: 25px;
}
.subsubtodo {
  margin-left: 50px;
}

.click {
  cursor: pointer;
}

.form {
  background-color: white;
  padding: 10px;
}