.textarea {
  resize: both;
  &__notes{
    height: 200px;
    width: 400px;
  }
  &__freewrites{
    height: 400px;
    min-width: 200px;
  }
}
.notes {
  max-width: 600px;
}
.margin-top {
  margin-top: 5%;
}
.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  h4 {
    margin: 0;
  }
  &__free-writes {
    max-width: 600px
  }
  &__notes {
    max-width: 400px;

  }
  &__auth {
    margin: 10px;
    width: 275px;
    border-radius: 15px;
  }
  &__text {
    &__left {
      padding-right: 25px;
    }
    &__right {
      padding-left: 25px;
    }
  }
}

.site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 85vh;
  align-items: center;
  justify-content: space-between;
  &__warning {
    background-color: #ff9800;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  &__landing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__about {
  }
  &__auth {
    min-width: 40vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__wave {
      min-width: 50px;
    }
  }
  &__footer {
    padding: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__icon {
      margin: 0 5px;
    }
  }
}
