body {
  background-color: #dcdcdc;
  font-family: Roboto;
}
.site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 85vh;
  align-items: center;
  justify-content: space-between;
  &__warning {
    background-color: #ff9800;
    color: white;
    font-size: 15px;
    padding: 20px;
    padding-top: 80px;
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  &__landing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__auth {
    min-width: 40vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__wave {
      min-width: 50px;
    }
  }
  &__about {
    background-color: white;
    max-width: 1040px;
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
  &__notes {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__footer {
    padding: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__icon {
      margin: 0 5px;
    }
  }
}
textarea {
  background-color: white;
  font-family: inherit;
  font-size: inherit;
}
.textarea {
  resize: both;
  margin: auto 0;
  font-family: inherit;
  font-size: inherit;
  &__notes {
    justify-self: center;
    height: 100px;
    width: fill;
    min-width: 300px;
    max-width: 800px;
    max-height: 400px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
  }
  &__freewrites {
    height: 400px;
    min-width: 200px;
  }
}
.notes {
  justify-self: center;
  min-width: 300px;
  max-width: 500px;
  // margin: 0 auto;
}
.margin-top {
  margin-top: 5%;
}
.padding-horizontal {
  padding: 0 5%;
}
.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  h1,
  h2,
  h3,
  h4,
  h5,
  button {
    margin: 0;
  }
  &__free-writes {
    max-width: 600px;
  }
  &__notes {
    max-width: 400px;
  }
  &__auth {
    margin: 10px;
    width: 275px;
    border-radius: 15px;
  }
  &__text {
    &__left {
      padding-right: 25px;
    }
    &__right {
      padding-left: 25px;
    }
  }
}

.subtodo {
  margin-left: 25px;
}

.click {
  cursor: pointer;
}
