.site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 85vh;
  align-items: center;
  justify-content: space-between;
  &__warning {
    background-color: #ff9800;
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: center
  }
  &__landing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__about {

  }
  &__auth {
    min-width: 40vw;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__wave {
      min-width: 50px;
    }
    &__button{
      display:flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      margin: 10px;
      width: 275px;
      border-radius: 15px;
    }
  }
  &__footer {
    padding: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__icon{
      margin: 0 5px;
    }
  }
}
