<% include partials/header %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1>Estuary</h1>
      <strong>Where all your streams of thought converge.</strong>
      <p>
        Keep track of stream-of-consciousness writings while saving notes for
        future reference.
      </p>
      <!-- <p>
        <strong>The current date time for the server:</strong> <%=time%>
      </p> -->
      <img
        src="/assets/images/estuary.jpeg"
        class="rounded mx-auto d-block homepage-image"
      />
    </div>
  </div>
</div>

<% include partials/footer %>
