<% include partials/header %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1>Estuary</h1>
      <strong
        >Where are your streams of thought can flow into an ocean of
        ideas.</strong
      >
      <p>
        Keep track of stream-of-consciousness writings while saving notes for
        future reference.
      </p>
      <img
        src="/assets/images/estuary.jpeg"
        class="rounded mx-auto d-block homepage-image"
      />
      <hr />
      <h2 style="color: red;">WARNING</h2>
      <p>
        This app is still a work in progress. Use it at your own risk and be
        sure to save any important notes elsewhere unti I am certain that I
        won't make changes to the app that destroy your data.
      </p>
    </div>
  </div>
</div>

<% include partials/footer %>
