<% include partials/header %>

<div class="container">
  <h1>Howdy!</h1>
  <p>This will eventually grow to be a note-taking application I can use.</p>
</div>
<div class="container-fluid">
  <img src="/assets/images/estuary.jpeg" class="img-thumbnail" />
</div>
<% include partials/footer %>
