<% include partials/header %>

<div class="container" style="text-align:center">
    <h1>Login</h1>
    <div class="row justify-content-center">
        <div class="col-10">
            <form action="/password-reset" method="POST">
                <div class="form-group">
                    <input
                            class="form-control"
                            type="email"
                            name="email"
                            placeholder="email"
                    />
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">
                        Recover Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>