<% include partials/header %>

<div class="container" style="text-align:center">
  <h1>This is the secret page!</h1>
  <img src="/assets/images/secret.jpeg" alt="" />
  <h2>Unless... you registered and signed in...</h2>
</div>
<div></div>
<% include partials/footer %>
