hr {
  border-top: 1px solid #bababa;
}

.homepage-image {
  max-width: fit-content;
  width: 100%;
}

div .container {
  padding-top: 5%;
}

div .footer {
  text-align: right;
}

.footer a {
  color: #212529;
}

.error {
    background-color: #ff000045;
    color: #f9f9f9;
    padding: 10px;
}