<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h1>Notes</h1>
      <p>Number of Notes: <strong><%=user.notes.length%></strong></p>
      <a href="/notes/new"
        ><button class="btn btn-success">New Note</button>
      </a>
      <hr />
      <h2>Your Notes</h2>
      <hr />
      <ul>
        <% for (let i = user.notes.length - 1; i >= 0; i--) { %>
        <li><%= user.notes[i].content %></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<% include ../partials/footer %>
